body {
    background-color: white;
}

.top-square {
    display: flex;
}
.intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro button {
    display: block;
    margin: 0 auto;
}